/*landing page*/

.header-color {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.icon > a {
  color: white;
  font-size: 2em;
  padding: 10px;
}

.landing-grid {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  min-height: 90vh;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 2em;
}

.banner-text {
  background-color: black;
  opacity: 0.9;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
}

.coding {
  padding: 1em;
}

/*contact page*/

/* leftside */
.contact-body {
  margin: auto;
  background: grey;
  position: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  padding-top: 4em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  background: white;
  color: black;
  border: 2px dotted red;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

/* rightside */

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 50px;
  padding-right: 1em;
  float: left;
}

.contact-list {
  text-align: left;
  white-space: pre-line;
}

/* resume page */

.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

/* customers page */
.customers-table {
  margin: auto;
  width: 60%;
  padding-top: 4em;
}
